@model ProdBuilder0920.Domain.Part


<div class="row text-center">

    Description: @Model.PartDescription |Manufacturer: @Model.PartManufacturer |Price: @Model.PartPrice
    |DeliveryDate: @Html.DisplayFor(m => m.PartDeliverytime)
    <h4 class="">
        <span class="glyphicon glyphicon-thumbs-up alert-success">Added</span>
    </h4>

</div>
<hr/>


