
@{
    ViewBag.Title = "Thankyou";
}

<br/>
<br/>
<br/>

<h2 class="text-center"> Database Updated <small class="alert-success">Thank you!</small></h2>

<div>
    @Html.ActionLink("AdminArea", "Index", "Admin")
</div>@Html.ActionLink("Home", "Index","Home")
<div>
    
</div>

