
@{
    ViewBag.Title = "PlaceOrder";
}
<br/>
<br/>
<br/>
<div class="col-md-3"></div>
<div class="alert alert-success col-md-6 text-center">
    <h2>
        Thank you for placing an Order!

    </h2> </div>
<div class="col-md-3">You can se it here: @Html.ActionLink("My Orders","MyOrders","Account")</div>

