
@{
    ViewBag.Title = "Contact";
}
<br/>
<br/>
<br/>
<h2 class="alert-info" style="text-align : center">Contact</h2>

<div class="show-details" id="contact-fw">+ Show/Hide Contact-details</div>
<br/>
<br/>

<div class="contact-deta " id="contact-jq">
    <p class="glyphicon glyphicon-user"> CEO: FREDRIK WIDéN</p>
    <br/>
    <p class="glyphicon glyphicon-phone-alt"> 08-112233</p>
    <br/>
    <span class="glyphicon glyphicon-envelope"> fwiden@gmail.com</span>
    <br/>
    <span class="glyphicon glyphicon-road"> Uppladsgatan 61, 11328 Stockholm</span>

</div>

